body
{
    background-color:lightpink;
}
h1{
    color: rgb(255, 255, 255);
    background-color: lightcoral;
}
#show_sketch
{
    float:right;
    background-color:violet;
}
canvas{
    border: 5px solid white;
    border-radius: 10px;
    animation-name: percy_jackson;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes percy_jackson {
    from {box-shadow: 5px 5px 15px rgb(92, 2, 2);}
    to {box-shadow: 5px 5px 15px rgb(107, 5, 121);}

}
p{
    padding-top: 10px;
    font-size: 25px;
}